<div>
  <%= simple_form_for :query, url: spaceships_path, method: :get do |f| %>
    <div class="search-form-control form-group boxes">
      <%= f.input :destination, label: false, collection: Booking::DESTINATION, selected: params.dig(:query, :destination) %>
      <input type="date" id="start" name="trip-start"
      value="<%= params["trip-start"] %>"
      min="<%= Date.today %>" >
      <%= f.input :number_of_travellers, label: false, collection: Booking::CAPACITY, selected: params.dig(:query, :number_of_travellers) %>
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  <% end %>
</div>
