<%= render "devise/shared/navbar" %>

<div class="container">

<h1>Welcome to your bookings <%= current_user.name %>! 🚀</h1>
<h2>Upcoming bookings:</h2>

  <% current_user.bookings.each do |booking| %>
    <%= link_to booking_path(booking) do %>
      <div class="card-product">
        <%= cl_image_tag booking.spaceship.image_url.key, height: 200, width: 200, crop: :fill %>
        <div class="card-text">
          <p>Spacetravellers: <%= booking.passenger_quantity %></p>
          <p>Location: <%= booking.location %></p>
          <p>Arrive: <%= booking.arrive%></p>
          <p>Depart: <%= booking.depart%></p>
          <p>TOTAL: £<%= booking.price %></p>
        </div>
      </div>
    <% end %>
  <% end %>
<br>

<%= link_to "Search spaceships", spaceships_path, class: "btn btn-flat" %>
<%= link_to "View garage", garage_path(current_user), class: "btn btn-flat" %>

</div>
