<%= render "devise/shared/navbar" %>

<div class="container">


<h1>Welcome to your bookings <%= current_user.name %>! 🚀</h1>

<% if current_user.spaceships.present? %>
  <h2>Your fleet bookings:</h2>
  <% current_user.spaceships.each do |spaceship| %>
    <% if spaceship.bookings.present? %>
       <% spaceship.bookings.each do |booking| %>
        <%= link_to booking_path(booking) do %>
          <div class="card-product">
            <%= cl_image_tag booking.user.image_url.key, height: 200, width: 200, crop: :fill %>
            <div class="card-text">
              <p>Spacetravellers: <%= booking.passenger_quantity %></p>
              <p>Destination: <%= booking.destination.name %></p>
              <p>Depart: <%= booking.depart%></p>
              <p>Days spacetravelling: <%= booking.arrive%></p>
              <p>TOTAL: £<%= booking.price %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <br>
  <br>
<% end %>

<h2>Your upcoming trips:</h2>


    <% current_user.bookings.each do |booking| %>
      <%= link_to booking_path(booking) do %>
        <div class="card-product">
          <%= cl_image_tag booking.spaceship.image_url.key, height: 200, width: 200, crop: :fill %>
          <div class="card-text">
            <p>Spacetravellers: <%= booking.passenger_quantity %></p>
            <p>Destination: <%= booking.destination.name %></p>
            <p>Depart: <%= booking.depart%></p>
            <p>Days spacetravelling: <%= booking.arrive%></p>
            <p>TOTAL: £<%= booking.price %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  <br>

  <%= link_to "Search spaceships", spaceships_path, class: "btn btn-flat" %>
  <%= link_to "View garage", garage_path(current_user), class: "btn btn-flat" %>

</div>
