<%= render "devise/shared/navbar" %>

<h2>destination:<%= @booking.destination %></h2>
<p>price: £<%= @booking.price %></p>
<p>location: <%= @booking.location %></p>
<p>spacetravellers: <%= @booking.passenger_quantity %></p>
<p>arrive: <li><%= @booking.arrive %></p>
<p>depart: <li><%= @booking.depart %></p>
<%= link_to "Delete booking",
            booking_path(@booking),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
<br>
<%= link_to 'View bookings', bookings_path %>
