<h1>Hello</h1>
<%# <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" /> %>
<h2><%= @user.name %></h2>
<h2>Upcoming bookings</h2>
<% @user.bookings.each do |booking| %>
  <li><%= booking.image_url %>
  <li><%= booking.name %>
  <li><%= booking.passengers %>
  <li><%= booking.location %>
  <li><%= booking.price %>
  <li><%= booking.arrive - booking.depart %>
<% end %>
<br>
<%= link_to "Manage bookings", bookings_path, class: "btn btn-flat" %>
<%= link_to "Search spaceships", spaceships_path, class: "btn btn-flat" %>
<%= link_to "Edit profile", edit_user_registration_path(@user), class: "btn btn-flat" %>

<% @user.bookings.each do |booking| %>
  <div class="card-trip">
    <%= booking.image_url %>
    <div class="card-trip-infos">
      <div>
          <h2><li><%= booking.name %></h2>
          <li><%= booking.passengers %>
          <li><%= booking.location %>
      </div>
      <h2 class="card-trip-pricing"><%= booking.price %>
      <%= booking.arrive - booking.depart %></h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
<% end %>
