<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div>
<%= link_to 'Login', new_user_session_path, class: 'btn btn-primary' %>
<%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary' %>
</div>

<div>
<%= simple_form_for @bookings do |f| %>
  <%= f.input :destination, collection {"mars", "moon"} %>
  <%= f.button :submit %>
<% end %>
</div>
