<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/1vKTnwLMdqs/1920x1281);">
  <div class="container">
    <h1>La Fusee</h1>
    <p>space really is just <strong>one small step</strong>...</p>
    <% if user_signed_in? %>
      <h3 class="white-text">Welcome <%= current_user[:name] %></h3>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-flat' %>
        <%= link_to "Add a new spaceship", new_spaceship_path, class: "btn btn-flat" %>
        <%= link_to "My bookings",  bookings_path, class: "btn btn-flat" %>
    <% else %>
      <%= link_to 'Login', new_user_session_path, class: 'btn btn-flat' %>
      <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-flat' %>
    <% end %>
  </div>
</div>

<div class="header">
  <h2>Explore the stars</h2>
  <h4>Find a rocket</h4>
</div>

<div>
  <%= simple_form_for :query, url: spaceships_path, method: "GET" do |f| %>
    <div class="search-form-control form-group boxes">
      <%= f.input :destination, collection: Booking::DESTINATION %>
      <%= f.input :departure, as: :date %>
      <%= f.input :number_of_travellers, collection: Booking::CAPACITY %>
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  <% end %>
</div>
