<%= simple_form_for(@spaceship) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, label: "Name:", placeholder: "Sputnik 697" %>
    <%= f.input :capacity, label: "Capacity:", collection: Booking::CAPACITY %>
    <%= f.input :description, label: "Description:", placeholder: "The Sputnik 697 spacecraft was the first artificial satellite successfully placed in orbit around the Earth and was launched from Le Wagon in Hoxton (10 km northeast of the small town of Epsom) in UK." %>
    <%= f.input :cost, label: "Cost:", placeholder: "£" %>
    <%= f.input :image_url,
                  label: "Upload a picture of your rocket",
                  as: :file,
                  required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-submit" %>
  </div>
<% end %>
