<%= render "devise/shared/navbar" %>

<div class="container">
  <h2><%= current_user.name %>'s space fleet</h2>
    <div class="card-list">
      <% current_user.spaceships.each do |spaceship| %>
        <%= link_to spaceship_path(spaceship) do %>
          <div class="card-product">
            <%= cl_image_tag spaceship.image_url.key, height: 200, width: 200, crop: :fill %>
            <div class="card-text">
              <h2><%= spaceship.name %></h2><br>
              <p><%= spaceship.description  %></p><br>
              <p>Cost: £<%= spaceship.cost %> <p><br>
              <p>Capacity: <%=spaceship.capacity %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <br>
    <%= link_to "Add a new spaceship", new_spaceship_path, class: "btn btn-submit" %>
</div>
