<%= render "devise/shared/navbar" %>

<br>

<div class="container">
  <div id="center"><h3> Find the trip for you! 🛸</h3></div>

  <div><%= render 'devise/shared/search_form' %></div>

  <div class="card-list">
    <% @spaceships.each do |spaceship| %>
      <%= link_to spaceship_path(spaceship, query: {destination: params.dig(:query, :destination)}) do %>
        <div class="card-product">
          <% if spaceship.user == current_user %>
            <%= cl_image_tag current_user.image_url.key, class: "avatar icon", id: "navbarDropdown", height: 40, width: 300 %>
          <% end %>
          <%= cl_image_tag spaceship.image_url.key, height: 200, width: 200, crop: :fill %>
          <div class="card-text">
            <h2><%= spaceship.name %></h2><br>
            <p><%= spaceship.description  %></p><br>
            <p>Capacity: <%=spaceship.capacity %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
