<%= render "devise/shared/navbar" %>

<h6> Find the right spaceship for you 🚀. </h6>

<br>

<div class="container">
  <div>
    <%= simple_form_for :query, url: spaceships_path, method: :get do |f| %>
      <div class="search-form-control form-group boxes">
        <%= f.input :destination, collection: Booking::DESTINATION, default: :destination %>
        <%= f.input :departure, as: :date%>
        <%= f.input :number_of_travellers, collection: Booking::CAPACITY, default: :number_of_travellers %>
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>
  </div>

  <div class="card-list">
    <% @spaceships.each do |spaceship| %>
      <%= link_to spaceship_path(spaceship) do %>
        <div class="card-product">
          <%= cl_image_tag spaceship.image_url.key, height: 200, width: 200, crop: :fill %>
          <div class="card-text">
            <h2><%= spaceship.name %></h2><br>
            <p><%= spaceship.description  %></p><br>
            <p>Capacity: <%=spaceship.capacity %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <br>
  <%= link_to "Add a new spaceship", new_spaceship_path, class: "btn btn-flat" %>
</div>
