<%= render "devise/shared/navbar" %>

<div class="container">
  <div class="card-trip">
    <div class="img"><%= cl_image_tag @spaceship.image_url.key %></div>
    <div class="card-trip-infos">
      <div>
        <h2><%= @spaceship.name %></h2>
        <p><%= @spaceship.description %></p>
      </div>
      <div>
        <h2 class="card-trip-pricing">£<%= @spaceship.capacity * 100 - 0.01 %></h2>
        <p>Up to <%= @spaceship.capacity %> passengers</p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <% if @spaceship.user == current_user %>
    <%= link_to "Edit spaceship", edit_spaceship_path, class: "btn btn-flat" %>
    <%= link_to "Delete #{@spaceship.name}",
                spaceship_path(@spaceship),
                method: :delete,
                class: "btn btn-flat",
                data: { confirm: "Are you sure?" } %>
  <% else %>
    <%= link_to "Make a booking", new_spaceship_booking_path(@spaceship), class: "btn btn-submit" %>
  <% end %>
</div>
