<%= render "devise/shared/navbar" %>

<h2><%= @spaceship.name %></h2>
<p><%= @spaceship.capacity %></p>
<p><%= @spaceship.description %></p>
<p><li><%= @spaceship.image_url %></p>
<%= link_to "Delete #{@spaceship.name}",
            spaceship_path(@spaceship),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
<br>
<%= link_to 'View spaceships', spaceships_path %>
<%= link_to "Edit spaceship", edit_spaceship_path %>
